* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  width: 90%;
  max-width: 1000px;
  background: #fafafa;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px #00ffff1a;
  flex-wrap: wrap;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.5s ease, transform 1.5s ease;
}

.fade-in {
  opacity: 1;
  transform: translateY(0);
}

.left-panel {
  flex: 1;
  background: #b49797;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.left-panel img {
  max-width: 100%;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.2));
}

.right-panel {
  flex: 1;
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.right-panel h2 {
  font-size: 2.5rem;
  color: #b3404a;
  margin-bottom: 15px;
  filter: drop-shadow(0 0 10px rgba(0, 255, 255, 0.2));
}

.right-panel p {
  font-size: 1.2rem;
  color: #000000;
  margin-bottom: 25px;
  line-height: 1.6;
  min-height: 48px;
}

.social-highlight {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.highlight-button {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #b3404a;
  color: #b3404a;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
}

.highlight-button::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  background: #b3404a;
  z-index: 0;
  transition: left 0.3s ease;
}

.highlight-button:hover::before {
  left: 0;
}

.highlight-button:hover {
  color: #fafafa;
}

.highlight-button span {
  position: relative;
  z-index: 1;
}
.social-links {
  margin-top: 30px;
}

.social-icon {
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #b3404a;
  color: #ffffff;
  filter: drop-shadow(0 0 10px rgba(0, 17, 17, 0.2));
  border-radius: 50%;
  margin: 0 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.social-icon:hover {
  background: #b3404a;
  color: #0a0a0a;
  transform: translateY(-4px);
}
/* Responsive */
@media (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .left-panel, .right-panel {
    width: 100%;
    padding: 30px;
  }

  .right-panel h2 {
    font-size: 2rem;
  }

  .right-panel p {
    font-size: 1rem;
  }
}
.box-logo {
  width: 150px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  filter: drop-shadow(2px 2px 6px #00ffff1a);
}




